- @title= "Edit"
- @page_title  = 'Edit'
.container
  %div.row::before 
    %div.col-md-12
      %h2.display-3.mt-5.pt-5
        = @article.title
      %hr
        = @article.text
      %h4.display-5
        = @article.body.html_safe

    .container
      .card
        = form_for @article, :html => {:class => "form-horizontal center"} , :article_id => @article.id  do |f|
          .form-group 
            = f.text_field :title, class: "form-control", :required => true 
          .form-group 
            = f.text_field :text, class: "form-control", :required => true 
          .form-group 
            = f.text_area :body, rows: 10, class: "form-control"
          .form-group 
            = f.submit "Submit",  class: "btn btn-default btn-success"
