!!! 5
%html
  %head
    = render :partial => "layouts/head"
  %body
    = render :partial => "jinda/menu"
    %div{"data-id" => "main", "data-role" => "panel", "data-backbtn"=>"false"}
      - if @cache
        - cache = {}
      - else
        - cache = {"data-cache"=>"never"}
      - if @backbtn
        - backbtn= {"data-backbtn"=>"true"}
      - else
        - backbtn= {"data-backbtn"=>"false"}
      %div{{"data-role" => "page"}.merge(cache) }
        %div{{"data-role" => "header"}.merge(backbtn)}
          %h1= @title || DEFAULT_TITLE
        %div{"data-role" => "content"}
          = yield
      = render :partial => "jinda/static"
/ :javascript
/   $(document).on("pagehide", 'div', function(e,ui) {
/     var page = $(e.target);
/     if(page.attr('data-cache') == 'never') {
/       page.remove();
/     }
/   });
/   $( document ).on( "pagechange", function(){
/     $.get("/jinda/ajax_notice", function(r) {$(r).appendTo('head').remove()});
/   });

/= raw handle_ma_notice
:javascript
  (function() {
    function fixFormAttributes() {
      var elements = document.querySelectorAll('input, select, textarea, button');
      for (var i = 0; i < elements.length; i++) {
        var el = elements[i];
        if (!el.id) {
          el.id = 'gen-id-' + Math.random().toString(36).substr(2, 9);
        }
        if (!el.name && (el.tagName === 'INPUT' || el.tagName === 'SELECT' || el.tagName === 'TEXTAREA')) {
          el.name = el.id;
        }
      }
    }
    window.addEventListener('load', fixFormAttributes);
    // Also run on JQM page transitions if possible
    document.addEventListener('pagecreate', fixFormAttributes);
    document.addEventListener('pageshow', fixFormAttributes);
  })();
