<%- @title= 'New Note' %>
<%
  doc = Note.new :issue_on=> Date.today, :process_at => Time.now
%>
<div name= "note_new">
    
  <%= fields_for doc, validate: true  do |f| %>
  <%= f.label :title, "Title" %>
  <%= f.text_field :title, :required => true %><Br>
  <%= f.label :body, "Body Content" %>
  <%= f.text_area :body, :cols=>50, :rows=>6, required: true  %>
<% end %>
</div>
