.container
  %div(style="text-align:center")
    %h1 Notes

  %h2 Notes Overview 
  %div(style="text-align:center")
  %h3   Notes is a personel message system or platform that design in rails which can be modified to use all rails features such as  files attachment, reminder, mail, social network sharing. This version support key features below.

  %h2 Key features 
  %ul
    %li Support multi-user
    %li Title input maximum 30 characters
    %li Body input maximum 1000 characters
    %li Blank Title will use body content when save
    %li Able to mail each Note
    %li Support dynamic user roles for each view/controller such as admin, member, developer (A,M,D) or any assign in role table/collection 
    %li Full test in Key features with rspec
    %li Support MVC work flow like normal rails, however this program use controller/helper feature call all controller in order to easy generate using my gem Jinda 
    
  %h2 Current gems version found: 
  %ul
    %li Ruby Version #{RUBY_VERSION }
    %li Rails Version #{Rails.version }
    %li gem jinda #{Gem.loaded_specs['jinda'].version}



  %h2 Recently tested with:
  %ul  
    %li rspec
    %li in localhost please run $rspec 

  %h2 Requirement
  %ul
    %li Mongodb as database
  
  %h2 Installation
  %ul
    %li in localhost $git clone https://github.com/kul1/notes.git
    %li install mongodb from https://docs.mongodb.com/manual/installation/
    %li bundle install 
    %li rake jinda:seed # to add user: "admin" password: "secret"

  %h2 Modification in app/jinda/index.mm (Using Freemind)
  %ul
    %li All models, views and controllers can be changed and result in Main menu
    %li (Rails MVC still running in parallel)
    %div(style="text-align:center")
      = image_tag "app_schema.png"
    %li Note model change as in image:
    %div(style="text-align:center")
      = image_tag "note_model.png"
    %li then update app design in app/jinda/index.mm, by run 
    %li $rake jinda:update

  %h2 Usage
  %ul 
    %li Sign in: your user  name with email # default role as "" 
    %li (can set default to "" or m (member) or any   group role in index.mm using freemind)
    %li Sign in as user admin password "secret" to menu Admin and change user role to any like "m" or "m,a,d" for (member, admin, group)
    %li 
    %div(style="text-align:center")
      = image_tag "edit_role.png"
  %h2 What missing (in limited time)
  %ul
    %li css on each Note pages which required work on platform themes
    %li Better features eg: able to selecte several notes for action
    %li Live email in Heroku (avoid security in noth github, heroku and Gmail blocked by serveral tested)
    


