- title @article.title
- description @article.text
- keywords @article.keywords

= link_to image_tag('pencil.png', style:'border:none; float:right;', id: 'article_pen'), {controller: "articles", action: "edit", article_id: @article.id}, data: { confirm: "Please Confirm" }
%div{"data-role" => "menu_mm", "data-theme" => "b", "data-backbtn"=>"false"}
  #article-title= @article.title

#article-text= @article.body.html_safe

- @comments.each do |comment|
  %div#article-comment.ui-corner-all
    Author:    
    %b= comment.user.code if comment.user
    %div#comment-body
      %i= comment.body
-# 
- if login?
  %h3 Add a comment:
  = form_for([@comment, @article.comments.build]) do |f|
    = f.hidden_field :article_id, :value => @article.id
    = f.label :body, "Comment"
    = f.text_area :body
    = f.hidden_field :user_id, :value => current_ma_user
    = f.submit
